<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Setlists</title>
        <style>
            .form-label{
                width: 150px;
                display: inline-block;
                margin-bottom: 10px;
            }
    
            .form-control{
                width: 150px;
            }
        </style>
    </head>
    <body>
        <h1>Edit Setlist</h1>
        <div> 
            <h2>List Lagu</h2>
            <table border=1>
                <tr>
                    <th> ID Lagu </th>
                    <th> Nama Lagu </th>
                    <th> Nama Artist </th>
                    <th> </th>
                </tr>
                <tr th:each="row : ${songs}">
                    <td th:text="${row.idSong}"></td>
                    <td th:text="${row.songName}"></td>
                    <td th:text="${row.artistName}"></td>
                    <td><button>remove</button></td>
                </tr>
            </table>
            <br>
            <form method="post" action="insertSetlist" th:object="${data}">
                <select name="idSong" class="form-control" >
                    <option th:each="row : ${unselected}" 
                            th:value="${row.idSong}" 
                            th:text="${row.songName}">
                    </option>
                </select>
                <input type="submit" value="Add" />
            </form>
        </div>
        </br>

        <form method="post" action="insertSetlist" th:object="${data}">
            <label>
                <span class="form-label">Username</span>:
                <input type="text" name="username" class="form-control" />
            </label>
            <br>
            
            <input type="submit" value="Save Changes" />
        </form>
    </body>
</html>